html{
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    font-size: 500%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

header a:first-child{
    align-self: center;
}

header.store{
    font-size: 400%;
}

.preferences{
    font-size: 400%;
    margin: 1rem;

}

.filler{
    margin: 2rem;
}

.disponivel{
    margin: .5rem;
    padding: .5rem;
    border: 2px;
    border-style: solid;
    border-color: black;
}

.disponivel li{
    margin: .5rem;
}

.start{
    margin: 1.5rem 1.5rem .5rem 1.5rem;
    padding: 2rem;
    border-top: .1rem;
    border-style: solid;
    border-color: black;
    border-radius: 50% 50% 0 0;
}

img{
    border-radius: 16px;
}

.menu{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    border-top: .1rem;
    border-radius: 50% 50% 0 0;
    border-style: solid;
    border-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: top 0.3s ease-in-out;
    justify-content: center; /* Adicionado */
    align-items: center; /* Adicionado */
}

.menu {
    position: fixed;
    bottom: 0;
    
    width: 100%;
    height: 50px;
    background-color: #000;
    color: #fff;
    
  }


.menu li{
    margin-left: 2.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.25rem;
    margin-right: 2.5rem;
}

.sinopse{
    margin: 1rem;
    padding: 1rem;
    border: 2px;
    border-style: solid;
    border-radius: 6px;
    border-color: black;
}

.sinopse-list{
    margin: 0 1rem 1rem 1rem;
    list-style: circle;
    padding: 1.5rem;
    border: 2px;
    border-style: solid;
    border-radius: 6px;
    border-color: black;
}

.sinopse-list li{
    margin: .5rem;
}

.news{
    margin: 1rem;
    padding: 1rem;
    border: 2px;
    border-style: solid;
    border-radius: 6px;
    border-color: black;
}

form{
    margin: 1rem;
    padding: 1rem;
    border: 2px;
    border-style: solid;
    border-radius: 6px;
    border-color: black;
}

.preferences-base{
    margin: 1rem;
    padding: 2rem;
    list-style: circle;
    border: 2px;
    border-style: solid;
    border-radius: 6px;
    border-color: black;
}

.preferences-base li{
    margin: .5rem;
}

.communities{
    font-size: 400%;
    margin: .5rem;
    border-bottom: 2px;
    border-style: solid;
    border-color: black;
}

.rec{
    font-size: 150%;
    margin: 1rem;
    border-bottom: 2px;
    border-style: solid;
    border-color: black;
}

.lato{
    font-family: 'Lato', sans-serif;
}

.rokkitt{
    font-family: 'Rokkitt', serif;
}

.sanchez{
    font-family: 'Sanchez', serif;
}

.teko{
    font-family: 'Teko', sans-serif;
    background-color: #940707;
}

.teko1{
    font-family: 'Teko', sans-serif;
    background-color: #079494;
}

.azul{
    background-color: #079494;
}
.branco{
    background-color: white;
}
.preto{
    color: black;
    font-size: 1.5rem;
}
.vermelho{
    background-color: ;
}
.roxo{
    color: #4d057a;
}
.marinho{
    color: #00cfcf;
}

.bodycolor{
    display:flex;
    border-left:3rem;
    border-right:3rem;
    background-color: #079494;
}

#navbar {
    background-color:#940707; /* Red background color */
    position: fixed; /* Make it stick/fixed */
    bottom: 0; /* Stay on bottom */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
  }
  
  /* Style the navbar links */
  #navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }